body {
    width: 100%;
    max-width: 60em;
    margin: 0 auto;
    background-color: #f78;
}
/flexibul images

img {
  height: auto;
      max-width: 100%;
      }

.all-caps {
  text-transformation: uppercase;
}
